<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		{{!-- <link rel="stylesheet" href="/public/assets/css/pc_style.css" type="text/css" /> --}}
		<title>Pc Part wishlist!!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

		<script src="/assets/js/pcparts.js"></script>
	</head>
	<body style="background-image: url(https://i.pinimg.com/originals/18/b5/ea/18b5ea2167c8ce34ca09540552a05124.gif); background-position: center;">
		{{{ body }}}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

	</body>

        <footer class="page-footer #d81b60 pink darken-1" style="margin-top: 300px;">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Pc parts wishlist</h5>
                <p class="grey-text text-lighten-4">A simple wishlist for pc parts</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="https://kionling.github.io/responsive-portfolio1/index.html">Portfolio</a></li>
                  
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2020 Daniel Jauregui
            </div>
          </div>
        </footer>
</html>

