



<div class="container center">
<h1>Pc parts Wishlist</h1>
</div>


<h2>Current Build Wishlist</h2>

 <ul>
  {{#each pcparts}}
    {{#unless pcpart}}
      {{> build/xBuild pcstatus=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Items Purchased</h2>

<ul>
  {{#each pcparts}}
    {{#if pcpart}}
      {{> build/xBuild pcstatus=false}}
    {{/if}}
  {{/each}}
</ul> 

<h2>Add a new PC part</h2>
<form class="create-form">

  <div class="form-group">
    <label for="pa"> Add New PC part:</label>
    <input type="text" id="pa" name="name">
  </div>

  <div class="form-group">
    <label for="pcpart">Purchased or Wishlist item?</label><br>
    <input type="radio" name="pcpart" value="1" checked> Purchased!<br>
    <input type="radio" name="pcpart" value="0"> Wishing!
  </div>

  <button type="submit">Add PC Part</button>
</form> 
